{% extends "layout.html" %}
{% block title %}{{ archive.problem_yaml.title }}{% endblock %}
{% macro render_fields(fields, problem_yaml) %}
  {% for field in fields if field.key in problem_yaml %}
    {% set value = problem_yaml[field.key] %}
    {% if field.type == 'combo' %}
      {{ render_fields(field.content, value) }}
    {% elif field.key == 'title' %}
      <h1>{{ value }}</h1>
    {% elif field.type in ['string', 'int'] %}
      <pre>{{ field.title }}: {{ value }}</pre>
    {% elif field.type == 'code' %}
      <h3>{{ field.title }}</h3>
      <pre>{{ value }}</pre>
    {% elif field.type == 'markdown' %}
      <h3>{{ field.title }}</h3>
      {{ value | markdown | safe }}
    {% endif %}
  {% endfor %}
{% endmacro %}
{% block content %}
  <pre>{{ archive.problem_yaml }}</pre>
  <pre>{{ archive.config_yaml }}</pre>
  <a href="{{ url_for('.get_upload', problem_id=problem.id) }}">Upload Testcases</a>,
  <a href="{{ url_for('.get_edit_testcases', problem_id=problem.id) }}">Edit Testcases</a>
  <hr>
  {{ render_fields(config.WEB.PROBLEM_FORMAT, archive.problem_yaml) }}
  <hr>
  <a class="btn btn-primary" href="{{ url_for('submission.get_submit', problem_id=problem.id) }}">Submit</a>
{% endblock %}
